.places ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
  margin-bottom: -10px;
  margin-top: 50px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.places h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
}

.places li {
  list-style-type: none;
}
